export(numcols)
export(numrows)
export(afindcols)
export(afindrows)
export(aremovecols)
export(aremovecolsT)
export(aremoverows)
export(aselectcols)
export(aselectcolsT)
export(aselectrows)
export(findcols)
export(findrows)
export(grenamecols)
export(grenamerows)
export(removecols)
export(removecolsT)
export(removerows)
export(renamecols)
export(renamerows)
export(rmexgrep)
export(rmgrep)
export(selectcols)
export(selectcolsT)
export(selectrows)
export(strRmEmpty)
export(strRmSpace)
